/*============================
    Flex Container
============================*/
.cf1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  color: inherit;
}

.cf1>* {
  width: 100%;
  color: inherit;
}