/*============================
    Overflow Properties (Numeric)
============================*/

/* --- Overflow (both axes) --- */
.of1 {
  overflow: auto;
}
.of2 {
  overflow: scroll;
}
.of3 {
  overflow: visible;
}
.of4 {
  overflow: hidden;
}

/* --- Overflow-X (horizontal) --- */
.of5 {
  overflow-x: auto;
}
.of6 {
  overflow-x: scroll;
}
.of7 {
  overflow-x: visible;
}
.of8 {
  overflow-x: hidden;
}

/* --- Overflow-Y (vertical) --- */
.of9 {
  overflow-y: auto;
}
.of10 {
  overflow-y: scroll;
}
.of11 {
  overflow-y: visible;
}
.of12 {
  overflow-y: hidden;
}

/* --- Combined Overflow X & Y --- */
.of13 {
  overflow-x: auto;
  overflow-y: hidden;
}
.of14 {
  overflow-x: scroll;
  overflow-y: hidden;
}
.of15 {
  overflow-x: visible;
  overflow-y: hidden;
}
.of16 {
  overflow-x: hidden;
  overflow-y: hidden;
}
.of17 {
  overflow-x: hidden;
  overflow-y: auto;
}
.of18 {
  overflow-x: hidden;
  overflow-y: scroll;
}
.of19 {
  overflow-x: hidden;
  overflow-y: visible;
}
