.zi1 {
  z-index: 1 !important;
}
.zi2 {
  z-index: 2 !important;
}
.zi3 {
  z-index: 3 !important;
}
.zi4 {
  z-index: 4 !important;
}
.zi5 {
  z-index: 5 !important;
}
.zi6 {
  z-index: 6 !important;
}
.zi7 {
  z-index: 7 !important;
}
.zi8 {
  z-index: 8 !important;
}
.zi9 {
  z-index: 9 !important;
}
.zi10 {
  z-index: 10 !important;
}
