/******************************/
/* === BLUR FILTERS (abreviado, hasta 6px) === */

/* Blur 0px */
.b0 {
  filter: blur(0px);
}

/* Blur 1px */
.b1 {
  filter: blur(1px);
}

/* Blur 2px */
.b2 {
  filter: blur(2px);
}

/* Blur 3px */
.b3 {
  filter: blur(3px);
}
