/*==============================
=       LISTA VERTICAL (.liv)  =
==============================*/
.liv ul,
.liv ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: inherit;
}

.liv ul li,
.liv ol li {
  display: flex;
  align-items: center;
  width: 100%;
  color: inherit;
  padding: 0;
  margin: 0;
}

/*==============================
=       LISTA HORIZONTAL (.lih) =
==============================*/
.lih ul,
.lih ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: inherit;
}

.lih ul li,
.lih ol li {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 0;
  margin: 0;
}