/*============================
    Custom Scrollbar Styles
============================*/

/* --- Variables de colores --- */
:root {
  /* Black Theme */
  --sc1_bg: rgb(24, 24, 24);
  --sc1_track: rgb(12, 12, 12);
  --sc1_thumb: rgb(45, 45, 45);
  --sc1_thumb-border: rgb(67, 67, 67);
  --sc1_btn: rgb(38, 38, 38);

  /* Grey Theme */
  --sc2_bg: rgb(123, 123, 123);
  --sc2_track: rgb(160, 160, 160);
  --sc2_thumb: rgb(90, 90, 90);
  --sc2_thumb_border: rgb(32, 32, 32);
  --sc2_btn: rgb(48, 48, 48);
}

/* --- Base styles for WebKit browsers --- */
.scl1::-webkit-scrollbar,
.scl2::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scl1::-webkit-scrollbar-button,
.scl2::-webkit-scrollbar-button,
.scl1::-webkit-scrollbar-corner,
.scl2::-webkit-scrollbar-corner,
.scl1::-webkit-resizer,
.scl2::-webkit-resizer {
  background: transparent;
}

/* --- Base styles for Firefox --- */
.scl1,
.scl2 {
  scrollbar-width: auto;
}

/* --- Black Theme --- */
.scl1::-webkit-scrollbar {
  background: var(--sc1_bk_bg);
}
.scl1::-webkit-scrollbar-track,
.scl1::-webkit-scrollbar-track-piece {
  background: var(--sc1_track);
}
.scl1::-webkit-scrollbar-thumb {
  background: var(--sc1_thumb);
  border: 1px solid var(--sc1_thumb-border);
}
.scl1::-webkit-scrollbar-button,
.scl1::-webkit-scrollbar-corner,
.scl1::-webkit-resizer {
  background: var(--sc1_btn);
}
.scl1 {
  scrollbar-color: var(--sc1_thumb) var(--sc1_track);
}

/* --- Grey Theme --- */
.scl2::-webkit-scrollbar {
  background: var(--sc2_bg);
}
.scl2::-webkit-scrollbar-track,
.scl2::-webkit-scrollbar-track-piece {
  background: var(--sc2_track);
}
.scl2::-webkit-scrollbar-thumb {
  background: var(--sc2_thumb);
  border: 1px solid var(--sc2_thumb_border);
}
.scl2::-webkit-scrollbar-button,
.scl2::-webkit-scrollbar-corner,
.scl2::-webkit-resizer {
  background: var(--sc2_btn);
}
.scl2 {
  scrollbar-color: var(--sc2_thumb) var(--sc2_track);
}

/* --- Thumb Models (border-radius variations) --- */
.sclm1::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
}
.sclm2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid transparent;
}
